* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 2rem;
  background-color: #e6e6e6;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #2662d9; }
  body ul {
    list-style: none; }
  body a {
    text-decoration: none;
    color: #1a1a1a; }
    body a:hover {
      color: #2662d9; }
  body .container {
    margin-top: 4rem; }
    body .container .container__titulo {
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: #1a1a1a;
      color: #e6e6e6;
      font-family: "Tourney", cursive;
      font-style: oblique;
      font-size: 2rem;
      text-align: center; }

li a {
  color: #1a1a1a; }

.link_activo {
  color: #2662d9; }

.cartelera {
  justify-content: space-around; }

.pagar {
  justify-content: space-around; }

.checkout {
  justify-content: space-around; }

.resumen {
  justify-content: space-around; }

.movie {
  background-color: white; }
  .movie__img {
    width: 10vw;
    margin: 2rem 1rem 1rem 1rem;
    align-self: center; }
  .movie__title {
    font-style: oblique;
    font-weight: bold;
    color: #2662d9;
    font-size: 1.5rem;
    text-align: center; }
  .movie__subtitle {
    color: #2662d9; }
  .movie__subtitle__run {
    font-weight: bold;
    color: #2662d9; }
  .movie__text {
    color: #2662d9; }

.theater__img {
  width: 10vw;
  margin: 2rem 1rem 1rem 1rem;
  align-self: center; }

.theater__title {
  font-style: oblique;
  font-weight: bold;
  color: #2662d9;
  font-size: 1.5rem;
  text-align: center; }

.theater__subtitle {
  color: #2662d9; }

.titles {
  color: #e6e6e6;
  text-align: center; }

.counter {
  padding-top: 1vw;
  padding-bottom: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  background-color: #9ebdfa;
  border: #2662d9 solid; }
  .counter__cant {
    margin: 0;
    color: #1a1a1a; }
  .counter__sub, .counter__add {
    background-color: #e6e6e6;
    border: solid #2662d9;
    border-radius: 100%;
    border-width: medium;
    color: #2662d9;
    font-weight: bold; }

.option {
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-align: center;
  font-weight: normal;
  color: #2662d9;
  border: #2662d9 solid;
  background-color: white; }

.options {
  justify-items: center;
  padding-top: 0;
  padding-bottom: 0; }
  .options :hover {
    color: #1a1a1a;
    background-color: #9ebdfa; }

.selected {
  color: #1a1a1a;
  background-color: #9ebdfa; }

.resumen {
  text-align: center;
  font-weight: normal;
  color: #e6e6e6; }
