* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 2rem;
  background-color: #cccccc;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #2662d9; }
  body ul {
    list-style: none; }
  body a {
    text-decoration: none;
    color: #1a1a1a; }
    body a:hover {
      color: #2662d9; }
  body .container {
    margin-top: 4rem; }
    body .container .container__titulo {
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: #1a1a1a;
      color: #cccccc;
      font-family: "Tourney", cursive;
      font-style: oblique;
      font-size: 2rem;
      text-align: center; }

li a {
  color: #1a1a1a; }

.link_activo {
  color: #2662d9; }

.movie__img {
  width: 20vw;
  margin: 2rem 1rem 1rem 1rem;
  align-self: center; }

.movie__title {
  font-style: oblique;
  font-weight: bold;
  color: #2662d9;
  font-size: 1.5rem;
  text-align: center; }

.movie__subtitle {
  color: #2662d9; }

.theater__img {
  width: 20vw;
  margin: 2rem 1rem 1rem 1rem;
  align-self: center; }

.theater__title {
  font-style: oblique;
  font-weight: bold;
  color: #2662d9;
  font-size: 1.5rem;
  text-align: center; }

.theater__subtitle {
  color: #2662d9; }

.option {
  text-align: center;
  font-weight: normal;
  color: #2662d9;
  background-color: none; }

.selected {
  color: white;
  background-color: #a8c0f0; }

.btn__day {
  color: #2662d9; }

.resumen {
  text-align: center;
  font-weight: normal;
  color: #cccccc; }
