* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     background-color: $color-background;
     color: $color-text;
}
li a {
     color: $color-link;
}
.link_activo {
     color: $color-link-active;
}