.options, .sub_option {
     text-align: center;
     font-weight: normal;
     color: $color-text;
     background-color: none;
}
.card__movie {
     font-style: oblique;
     &__image {
          width: 15vw;
     }
}
.selected {
     text-align: center;
     font-weight: bolder;
     color: $color-text-selected;
     background-color: $color-background;
}