.option, .sub_option {
     text-align: center;
     font-weight: normal;
     color: $color-text;
     background-color: none;
}
.selected {
     // text-align: center;
     // font-weight: bolder;
     color: $color-text-selected;
     background-color: $color-background-selected;
}