$font-principal: 'Roboto', sans-serif;
$font-titles: 'Tourney', cursive;
$font-secundary: 'Rajdhani', sans-serif;
$font-size: 1rem;
$color-background: hsl(0, 0%, 95%);
$color-background-selected: hsl(0, 0%, 45%);
$color-text: hsl(220, 70%, 50%);
$color-text-selected: lighten($color: $color-text, $amount: 50);
$color-link: hsl(0, 0%, 10%);
$color-link-active: lighten($color: $color-link, $amount: 50);