.counter {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     vertical-align: middle;
     background-color: $color-background-selected;
     &__cant {
          margin: 0;
          color: $color-text;
          // @include textos(($font-size * 1.5), center);
     }
     &__sub, &__add {
          border: solid $color-text;
          border-radius: 100%;
          border-width: medium;
          color: $color-text;
          // @include textos(($font-size * 1.5), center);
          font-weight: bold;
     }
}